.background {
  background-image: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0)),
    url(../images/formBackground.jpg);
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  background-color: #ebe8e8;
  display: flex;
  width: 30%;
  margin-right: 6%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;
}

.card-content {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.form-input {
  background-color: #f0f0f0;
  margin-top: 20px;
  border: 1px solid #dddddd;
  padding: 15px 25px;
}

.form-message-error {
  background-color: #ec00003d;
  border-radius: 8px;
  color: #cc3333;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 25px;
}

.form-message-success {
  background-color: #a7eaa77a;
  border-radius: 8px;
  color: #077307;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 25px;
}

.div-below-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.std-btn.form-btn {
  width: 50%;
  border-radius: 30px;
  text-align: center;
  color: black;
  border-color: black;
  margin-top: 25px;
}

.std-btn.form-btn:hover {
  color: white;
  border-color: white;
}

.login-link {
  font-size: 14px;
  margin-top: 25px;
}

@media (max-width: 1000px) {
  .background {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  nav {
    padding-left: 0px;
    padding-right: 0px;
  }

  .card {
    margin: 30px 0px;
    width: 50%;
  }

  .std-btn.form-btn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 80%;
  }
}